* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 5%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: clamp(28px, 5vw, 50px);
}

.hero-content p {
  font-size: clamp(14px, 2.5vw, 18px);
}

.section {
  padding: 80px 5%;
}
.section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 300px;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-5px);
  background: #334155;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.contact-form button {
  padding: 12px;
  background: #40bff5;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.contact-form button:hover {
  background: #0ea5e9;
}

@media (max-width: 768px) {
  .hero {
    min-height: 70vh;
    padding: 0 20px;
  }

  .section {
    padding: 60px 20px;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .hero-content p {
    font-size: 14px;
  }
}